<form class="well" ng-submit="create()">

  <fieldset>
    <input type="tel" id="amount" ng-model="movement.amount" class="input-xxlarge" required placeholder="Zadejte částku">
    <input type="text" id="short_description" ng-model="movement.name" required placeholder="Krátký popis"><br />
    <textarea rows="3" id="long_description" ng-model="movement.description" placeholder="Delší popis"></textarea>
  </fieldset>

  <fieldset>
    <div ng-repeat="type in movement.listTypes" class="alert alert-success">
      <input type="checkbox" class="types" id="{{$index}}-type" ng-model="type.check"> {{type.name}}
    </div>
  </fieldset>

  <div class="form-actions">
  		<button type="submit" id="save" class="btn btn-success btn-large">Uložit</button>
  		<button type="button" id="close" class="btn" ng-click="close()">Zavřít</button>
  </div>

</form>