<form class="well" ng-submit="create()">

  <fieldset>
    <input type="tel" ng-model="movement.amount" class="input-xxlarge" required placeholder="Zadejte částku">
    <input type="text" ng-model="movement.name" required placeholder="Krátký popis"><br />
    <textarea rows="3" ng-model="movement.description" placeholder="Delší popis"></textarea>
  </fieldset>

  <fieldset>
    <div ng-repeat="type in movement.listTypes" class="alert alert-success">
      <input type="checkbox" ng-model="type.check"> {{type.name}}
    </div>
  </fieldset>

  <div class="form-actions">
  		<button type="submit" class="btn btn-success btn-large">Uložit</button>
  		<button type="button" class="btn" ng-click="close()">Zavřít</button>
  </div>

</form>